.table {
  min-width: 500px;
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.table-row {
  align-content: center;
  cursor: pointer;
}

.table-row:hover {
  background-color: #f8f8f8;
}

a {
  color: white;
  text-decoration: none;
}